<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/teams" method="POST">
  
    <label>Team Name: <input type="text" name="team[name]" /></label>
    <label>Team Motto: <input type="text" name="team[motto]" /></label>
    
    <input type="submit" value="submit" />
    </form>
  </body>
</html>

